body {
    background-color: #fffef7;
    margin: 0px;
}


#signature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

#navBar {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#navBar ul {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#navBar ul li {
    display: block;
    float: left;
    position: relative;
    right: 50%;

}

#navBar ul li a {
    display: block;
    margin: 0px;
    padding: 3px 20px;
    color: steelblue;
    text-decoration: none;
    font-family: "Lucida Console", "Monaco", monospace;
}

#galleryLink {
    border-right: 1.5px solid #7d92ec;
    border-left: 1.5px solid #7d92ec;
}

#navBar ul li a:hover {
    background-color: #edeff8;
    /* color: #fff; */
}

#title {
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 32pt;
    color: #7d92ec;
    text-align: center;
    margin: 5% 10%;
}

.gallery {
    margin: 0% 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.painting {
    position: relative;
    margin: 30px 15px;
    width: 200px;
    height: 200px;
}

.painting img {
    height: 100%;
    width: 100%;
}

.painting h3 {
    pointer-events: none;
    opacity: 0;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    text-align: center;
    background-color: rgb(233, 244, 250);
    padding: 2%;
    border-radius: 5px;
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 12pt;
}

.painting:hover img {
    opacity: 0.3;
}

.painting:hover h3 {
    opacity: 1;
}

.instaLogo {
    display: block;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.mainContent {
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 100px 0px;
}

footer {
    position: relative;
    margin: auto;
}